extends layout
 
block content
  section.container
    .text-center.row.mt-5
      .col-3
      .col-5
        if error !== undefined
          .alert.alert-danger #{error.message}
        form(action="/user/createpoll", method="post")
          .form-group
            label Name your poll
            input.form-control(type='text', name="name", placeholder='Name your poll')
          .form-group
            label Options
            input.form-control(type='text', name="option1")
            input.form-control(type='text', name="option2")
            a.text-center.btn.btn-secondary.mt-3(href="#", role="button") Add
          button.btn.btn-primary(type='submit') Submit
          p.mt-5.mb-3.text-muted © 2017-2018