extends layout
 
block content
  section.container
    .row.mt-5.justify-content-center
      .col-5
        .card
          .card-header
            h1 #{poll.question} 
              small by #{poll.author.username}
          .card-body
            ul.list-group
              each option in poll.options
                li.list-group-item.d-flex.justify-content-between.align-items-center #{option.text} 
                  span.badge.badge-info.badge-pill #{option.votes}
              